* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 800px;
    height: 600px;
    background-color: beige;
    border: 5px solid black;
    position: relative;
    top: 25px;
    left: 300px;
}
.box {
    width: 80px;
    height: 80px;
    background-color: aquamarine;
    border: 2px solid palevioletred;
    border-radius: 50%;
    margin: 10px;
    position: relative;
    animation-name: rightMovement;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 1s;

}

@keyframes rightMovement {
    0% {
        top: 0;
        left: 0;
        background-color: aquamarine;
    }
    15% {
        top: 0;
        left: 700px;
        background-color: red;
    }
    30% {
        top: 500px;
        left: 700px;
        background-color: green;
    }
    45% {
        top: 500px;
        left: 0;
        background-color: blue;
    }
    60% {
        left: 0;
        top: 0;
        background-color: peru;
    }
    70% {
        top: 500px;
        left: 700px;
        background-color: purple;
    }
    80% {
        left: 0;
        top: 500px;
        background-color: aqua;
    }
    90% {
        top: 0;
        left: 700px;
        background-color: lightblue;
    }
    100% {
        left: 0;
        top: 0;
        background-color: lawngreen;
    }
}