.container {
  background-color: red;
  height: 455px;
}
.box {
  border: 2px solid black;
  color: aliceblue;
  /* transform: translate(134px, 55px) rota(45deg)*/
  transform-origin: 0;
  /* transform: scale(5, 5); */
  /* transform: scaleX(5); */
  /* transform: scaleY(5); */
  /* transform: skew(0deg, 16deg); */
  /* transform: translate(300px, 200px); */
  /* transform: skew(45deg); */
  transform: translate(400px, 200px) rotateZ(45deg);
}
